header {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #579C87;
  box-shadow: 0px 5px 5px grey;
  height: 120px;
}
header .food {
  color: #FDCB46;
  font-size: 3.5em;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

footer {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -5px 5px grey;
  background-color: #579C87;
  height: 60px;
  width: 100%;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.contact {
  padding-right: 50px;
}
.contact:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.legal {
  padding-left: 50px;
}
.legal:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

a:link {
  text-decoration: none;
  color: #FDCB46;
}

.legal a:visited {
  text-decoration: none;
  color: #FDCB46;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.grid {
  display: grid;
}

.menu_enchante {
  box-shadow: 0px 0px 15px -2px #c2c1bf;
  align-self: center;
  margin-top: 40px;
  justify-self: right;
  margin-right: 20px;
  height: 27em;
  width: 19em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  margin-top: 120px;
  background-color: #fcdfdb;
}
.menu_enchante h2 {
  color: #3d1319;
  font-family: "devonshire", cursive;
  font-size: 1.75em;
  font-weight: lighter;
}
.menu_enchante h3 {
  color: #3d1319;
  font-family: "Kalam", cursive;
  font-size: 2em;
}

.fa-music {
  font-size: 45px;
  color: #f6916a;
  color: #f13639;
  background: -webkit-linear-gradient(190deg, #f6916a 0%, #f13639 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu_french {
  box-shadow: 0px 0px 15px -2px #c2c1bf;
  align-self: center;
  margin-top: 40px;
  justify-self: right;
  margin-right: 20px;
  height: 27em;
  width: 19em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 1;
  grid-row: 2;
  background-color: #fff5fe;
}
.menu_french h2 {
  font-size: 1.25em;
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(190deg, #8f5aff 0%, #dc8527 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu_french h3 {
  font-family: "Kalam", cursive;
  color: #c77412;
  font-size: 2em;
}

.menu_papilles {
  box-shadow: 0px 0px 15px -2px #c2c1bf;
  align-self: center;
  margin-top: 40px;
  justify-self: left;
  margin-left: 20px;
  height: 27em;
  width: 19em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  margin-top: 120px;
  background-color: #f9f9f9;
}
.menu_papilles h2 {
  background: -webkit-linear-gradient(160deg, #0886fbbb 0%, #0229dd 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Dancing Script", cursive;
  font-size: 1.75em;
}
.menu_papilles h3 {
  font-family: "Kalam", cursive;
  color: #0887fb;
  font-size: 2em;
}

.menu_gout {
  box-shadow: 0px 0px 15px -2px #c2c1bf;
  align-self: center;
  margin-top: 40px;
  justify-self: left;
  margin-left: 20px;
  height: 27em;
  width: 19em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  background-color: #f9f9f9;
}
.menu_gout h2 {
  background: -webkit-linear-gradient(145deg, #beff7f 0%, #4ea043 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Kaushan script", cursive;
  font-size: 1.75em;
}
.menu_gout h3 {
  font-family: "Kalam", cursive;
  color: #72bf56;
  font-size: 2em;
}

.soon {
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soon button {
  background-color: #579C87;
  color: #FDCB46;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 150px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 15px;
}

.img_zoom {
  position: relative;
  width: 100%;
  max-width: 300px;
  transition: transform 0.8s;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.img_zoom:hover {
  transform: scale(1.16);
  opacity: 0.5;
}

.mentions_legales {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 5%;
  margin-top: 6%;
  margin-bottom: 15%;
  box-shadow: 0 0 10px 3px #D8D8D8;
  color: #40171d;
}

.detail_menu-gout {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f9fff9;
  margin: auto;
  margin-bottom: 15%;
  padding-bottom: 10%;
  margin-top: 6%;
  box-shadow: 0 0 10px 3px #D8D8D8;
}

.menu__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__headingG {
  background: -webkit-linear-gradient(90deg, #3D923A, #BEFF7F);
  background: linear-gradient(90deg, #3D923A, #BEFF7F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 4rem;
}

.menu__section__heading {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_separation {
  width: 30%;
}

.menu__section__title {
  font-size: x-large;
  font-family: "pangolin", sans-serif;
}

.detail_menu-gout ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
  font-family: "pangolin", sans-serif;
}

.menu__item__price {
  margin-right: 2em;
}

.menu__item__name {
  margin-left: 5em;
}

.title__menu__section {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__section:after {
  content: "";
  border-bottom: 2px solid #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__section:hover:after {
  transform: scaleX(1);
}

.detail_menu-enchante {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fcdfdb;
  margin: auto;
  padding-bottom: 5%;
  margin-top: 6%;
  margin-bottom: 15%;
  box-shadow: 0 0 10px 3px #D8D8D8;
  color: #40171d;
}

.double_croche__heading {
  width: 20%;
  margin-top: 5%;
}

.detail_menu-enchante .menu__headingE {
  font-family: "Devonshire", cursive;
  font-size: 4rem;
  margin-top: 0em;
}

.detail_menu-enchante .menu__section__title {
  font-family: "kalam", cursive;
}

.detail_menu-enchante ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
  font-family: "kalam", cursive;
}

.menu__end {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.double_croche {
  width: 15%;
}

.detail_menu-enchante .menu__footer {
  font-family: "Devonshire", cursive;
  font-size: 3rem;
}

.detail_menu-french {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fff5fe;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 6%;
  margin-top: 6%;
  margin-bottom: 15%;
  box-shadow: 0 0 10px 3px #D8D8D8;
}

.detail_menu-french .menu__headingF {
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(190deg, #8f5aff 0%, #dc8527 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.detail_menu-french .menu__section__title {
  font-family: "Merriweather", cursive;
}

.detail_menu-french ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
  font-family: "Merriweather", cursive;
}

.menu__section__starter {
  color: #c77412;
}

.menu__section__dish {
  color: #a56799;
}

.menu__section__dessert {
  color: #6E4CCC;
}

.detail_menu-french h3 {
  font-size: 0.75em;
}

.title__menu__sectionF1 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionF1:after {
  content: "";
  border-bottom: 2px solid #c77412;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionF1:hover:after {
  transform: scaleX(1);
}

.title__menu__sectionF2 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionF2:after {
  content: "";
  border-bottom: 2px solid #a56799;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionF2:hover:after {
  transform: scaleX(1);
}

.title__menu__sectionF3 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionF3:after {
  content: "";
  border-bottom: 2px solid #6E4CCC;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionF3:hover:after {
  transform: scaleX(1);
}

.detail_menu-papilles {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f9f9f9;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 6%;
  margin-top: 6%;
  margin-bottom: 15%;
  box-shadow: 0 0 10px 3px #D8D8D8;
}

.detail_menu-papilles .menu__headingP {
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(160deg, #0886fbbb 0%, #0229dd 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 5rem;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.detail_menu-papilles .menu__section__title {
  font-family: "Kalam", cursive;
}

.detail_menu-papilles ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
  font-family: "Kalam", cursive;
}

.detail_menu-papilles h3 {
  font-size: 1em;
}

.title__menu__sectionP1 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionP1:after {
  content: "";
  border-bottom: 2px solid #0228DD;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionP1:hover:after {
  transform: scaleX(1);
}

.title__menu__sectionP2 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionP2:after {
  content: "";
  border-bottom: 2px solid #0670F3;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionP2:hover:after {
  transform: scaleX(1);
}

.title__menu__sectionP3 {
  padding: 6px;
  text-decoration: none;
  position: relative;
}

.title__menu__sectionP3:after {
  content: "";
  border-bottom: 2px solid #229DF9;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-out 0s;
}

.title__menu__sectionP3:hover:after {
  transform: scaleX(1);
}

.dots {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
}

.dots:after {
  position: absolute;
  padding-bottom: 10px;
  content: " ..";
  display: inline-block;
  animation: loading steps(3) 2s infinite;
  clip: rect(auto, 0px, auto, auto);
}

@keyframes loading {
  to {
    clip: rect(auto, 20px, auto, auto);
  }
}
@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }

  .menu_enchante {
    box-shadow: 0px 0px 15px -2px #c2c1bf;
    align-self: center;
    width: 18em;
    grid-column: 1;
    grid-row: 1;
    margin-left: 1em;
  }

  .menu_french {
    box-shadow: 0px 0px 15px -2px #c2c1bf;
    align-self: center;
    width: 18em;
    grid-column: 1;
    grid-row: 2;
    margin-left: 1em;
  }

  .menu_papilles {
    box-shadow: 0px 0px 15px -2px #c2c1bf;
    align-self: center;
    width: 18em;
    grid-column: 1;
    grid-row: 3;
    margin-right: 1em;
    margin-top: 2.5em;
  }

  .menu_gout {
    box-shadow: 0px 0px 15px -2px #c2c1bf;
    align-self: center;
    width: 18em;
    grid-column: 1;
    grid-row: 4;
    margin-right: 1em;
  }

  .soon {
    grid-column: 1;
    grid-row: 5;
  }

  footer {
    font-size: 0.75em;
  }

  .detail_menu-enchante .menu__footer {
    font-size: 2rem;
  }

  .menu__item__price {
    margin-right: 0em;
    margin-left: 1em;
  }

  .menu__item__name {
    margin-left: -1em;
  }

  .menu_separation {
    width: 20%;
  }

  .title__menu__section {
    font-size: 1rem;
  }

  .title__menu__section:after {
    content: "";
    border-bottom: 1px solid #000;
  }

  .detail_menu-enchante {
    width: 90%;
    margin-top: 9%;
  }

  .detail_menu-enchante .menu__headingE {
    font-size: 2em;
  }

  .detail_menu-enchante ul li {
    font-size: 0.75em;
    width: 97%;
  }

  .menu__end {
    margin-top: 1rem;
  }

  .detail_menu-french {
    width: 90%;
    margin-top: 9%;
    margin-bottom: 30%;
  }

  .detail_menu-french .menu__headingF {
    font-size: 1.25rem;
  }

  .detail_menu-french ul li {
    width: 97%;
    font-size: 0.25em;
  }

  .detail_menu-french h3 {
    font-size: 0.35em;
  }

  .title__menu__sectionF1:after {
    border-bottom: 1px solid #c77412;
  }

  .title__menu__sectionF2:after {
    border-bottom: 1px solid #a56799;
  }

  .title__menu__sectionF3:after {
    border-bottom: 1px solid #6E4CCC;
  }

  .detail_menu-papilles {
    width: 90%;
    margin-top: 9%;
    margin-bottom: 30%;
  }

  .detail_menu-papilles .menu__headingP {
    font-size: 2em;
    margin-top: 1em;
  }

  .detail_menu-papilles ul li {
    width: 97%;
    font-size: 0.75em;
  }

  .detail_menu-papilles h3 {
    font-size: 0.55em;
  }

  .title__menu__sectionP1:after {
    border-bottom: 1px solid #0228DD;
  }

  .title__menu__sectionP2:after {
    border-bottom: 1px solid #0670F3;
  }

  .title__menu__sectionP3:after {
    border-bottom: 1px solid #229DF9;
  }

  .detail_menu-gout {
    width: 90%;
    padding-bottom: 5%;
    margin-top: 9%;
    margin-bottom: 30%;
  }

  .detail_menu-gout .menu__headingG {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .detail_menu-gout ul li {
    width: 97%;
    font-size: 0.75em;
  }

  .detail_menu-gout h3 {
    font-size: 0.55em;
  }
}
body {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
