.mentions_legales {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 5%;
    margin-top: 6%;
    margin-bottom: 15%;
    box-shadow: 0 0 10px 3px #D8D8D8;
    color: #40171d;
}