
@font-face {
	font-family: "segoe-print";
	src: url("fonts/segoe-print/segoepr.ttf") format("truetype");
}

.detail_menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 20%;
    margin-top: 10%;

}
.menu_separation {
    width: 30%;
    color: linear-gradient(90deg, #3D923A, #BEFF7F);
}
.menu__heading{
    background: -webkit-linear-gradient(90deg, #3D923A, #BEFF7F);
    background: linear-gradient(90deg, #3D923A, #BEFF7F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script", cursive;
    font-size: 4rem;
}
.menu__section__title {
    font-size: x-large;
    font-family: "segoe-print", sans-serif;

}

.menu__header {
    display: flex;
    justify-content: center;

}

.menu__section__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.menu__section li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "segoe-print", sans-serif;
}
.menu__section__price{
    margin-right: 9rem;
}
.menu__section__name {
    margin-left: 5rem;
}